body {
	background: linear-gradient(lightblue, white);
}

.box-cell {
	fill: rgb(211, 211, 211);
	stroke: rgb(0, 0, 0);
	stroke-width: 5;
	opacity: 0.8;
}

.highlighted {
	fill: rgb(190, 123, 123) !important;
}

.selected-cell {
	fill: rgb(45, 134, 128) !important;
	stroke: rgb(0, 0, 0);
	stroke-width: 5;
	opacity: 0.8;
}

.cell-number {
	color: black;
	font: 30px sans-serif;
	pointer-events: none;
}

.number {
	color: black;
	font: 30px sans-serif;
	pointer-events: none;
}

.highlighted-number {
	color: darkred;
	font: 35px sans-serif;
}

.selected-number {
	color: rgb(45, 134, 128);
	font: Bold 35px sans-serif;
}

.image {
	margin: auto;
	width: 10%;
	height: 10%;
	border: 3px solid rgb(128, 109, 0);
}

.blur {
	filter: blur(8px);
}

.center {
	margin: auto;
	width: 50%;
	border: 3px solid rgb(128, 109, 0);
	padding: 10px;
	text-align: center;
}

.btn {
	border: 3px solid rgb(128, 109, 0);
	width: 100px;
	height: 50px;
	font-size: larger;
	font-weight: bolder;
}

.btn-light {
	border: 5px solid rgb(0, 102, 255);
}

#cell-00,
#cell-01,
#cell-02,
#cell-10,
#cell-11,
#cell-12,
#cell-20,
#cell-21,
#cell-22,
#cell-60,
#cell-61,
#cell-62,
#cell-70,
#cell-71,
#cell-72,
#cell-80,
#cell-81,
#cell-82,
#cell-66,
#cell-67,
#cell-68,
#cell-76,
#cell-77,
#cell-78,
#cell-86,
#cell-87,
#cell-88,
#cell-06,
#cell-07,
#cell-08,
#cell-16,
#cell-17,
#cell-18,
#cell-26,
#cell-27,
#cell-28,
#cell-33,
#cell-34,
#cell-35,
#cell-43,
#cell-44,
#cell-45,
#cell-53,
#cell-54,
#cell-55 {
	fill: rgba(0, 0, 0, 0.26);
}
